.ToolsItems{
	margin: 0;
	padding: 0;
	min-width: 200px;
	list-style: none;
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
}

.ToolsItems a {
	color: black;
	font-size: 18px;
	text-decoration: none;
	margin: 10px;
}

.ToolsItems button{
	color: black;
	font-size: 18px;
	text-decoration: none;
	margin: 10px;
}
